<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admin(Vendor Verification)</title>
  </head>
  <body class="p-3 mb-2 bg-light text-dark">
    <!----------------------------NAVBAR------------------------------------->

<!------------------Category--------------------------->
<div class="container text-center" style="margin-top: 2%"> 
  <h3 class="text-secondary" > Search Vendor's near you:  </h3>
</div>

<!---------------------------------------------------------------------------->
 <div class="container"style="max-width: 700px;margin-top: 2%">

        <form method="POST" action="/admin/product">

            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Category</span>
                        </div>
                        <select type="text" id="categoryoption" class="form-control" list="category" name="category" placeholder="Category">
                        <datalist id="category">
                          <% product.forEach(function(p){ %>
                          <option class="container" data-cname="<%=p.categoryname%>" data-cid="<%=p._id%>"><%=p.categoryname%></option>
                            <% }); %>
                        </datalist>
                      </select>
                      </div>
                </div>
                <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Subcategory</span>
                        </div>
                        <select type="text" id="subcategoryoption" class="form-control" list="subcategory" name="subcategory" placeholder="Sub-Category">
                          <option class="container" value=""></option> 
                      </select>
                      </div>
                </div>
                <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Brand</span>
                        </div>
                        <select type="text" id="brandoption" class="form-control" list="brand" name="brand" placeholder="Brand">
                          <% brand.forEach(function(b){ %>
                          <option data-bname="<%=b.brandname%>" data-bid="<%=b._id%>" class="container"><%=b.brandname%></option>
                            <% }); %>
                          </select>
                      </div>
                </div>
                <!------------------------------------------------
                <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">Location</span>
                        </div>
                        <input type="text" class="form-control" name="location" placeholder="Location">
                      </div>
                </div>
            </div>
            ----------------------->
            <button id="usersearch" class="btn btn-primary container" style="margin-top: 2%">Search</button>
          </div>
        </form>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

    <script>
        
        $(document).ready(function () {
          $("#categoryoption").change(function () {
            var cid = $("#categoryoption option:selected").data("cid");

            $('#subcategoryoption').empty();
            <% product.forEach(function(p){ %>
              pid="<%=p._id%>";
              if (pid == cid) {
                <%p.subcategory.forEach(function(s){%>
                  sname="<%=s.subcategoryname%>";
                  sid="<%=s._id%>"
                  $('#subcategoryoption').append('<option class="container" data-sid='+sid+'>' + sname + '</option>');

                  <%}); %>
              }
            <% }); %>
          }); 


          $('#usersearch').click(function(e) {
          e.preventDefault();
          var cid = $("#categoryoption option:selected").data("cid");
          var sid = $("#subcategoryoption option:selected").data("sid");
          var bid = $("#brandoption option:selected").data("bid");
        $.ajax({
          type: "POST",
          url: '/home/available' ,
          contentType: "application/json",
          processData: false,
            data:  JSON.stringify({cid : cid,sid : sid,bid : bid}),
            success: function(data) {
              console.log(data)
          }
      }).done(function (data) {
          console.log("OK");
          console.log(data)

      }).fail(function ( jqXHR, textStatus, errorThrown ) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        });
      });




        });

    </script>







  </body>
</html>