<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Vendor-Brand</title>
  </head>
  <body class="p-3 mb-2 bg-light text-dark">
      <!----------------------------NAVBAR------------------------------------->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="Brand.html">Add Products</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Account Details</a>
      </li>
    </ul>
  </div>
</nav>

<div class="form-group container" style="margin-top: 2%">
  <label for="categorylist">Select Category:</label>
  <select class="form-control" id="categorylist">
    <% Category.forEach(function(c){ %>
         <option class="container" value="<%=c.categoryname%>"/>
     <% }); %>
  </select>
    <label for="subcategorylist">Select Sub-Category:</label>
  <select class="form-control" id="subcategorylist">
    <% Subategory.forEach(function(s){ %>
         <option class="container" value="<%=s.subcategoryname%>"/>
      <% }); %>
  </select>
  <label for="brand">Brand:</label>
  <input type="text" class="form-control" id="brand">
  <button type="submit" class="btn btn-primary container" id="addbrand" style="margin-top: 2%">Add Brand</button>
</div>

    <div class="container text-center" style="margin-top: 2%">
      <h3 class="text-secondary"> Existing Brands</h3>
    </div>

    <!--------------------------Table------------------------>
    <table class="table table-hover table-responsive-sm text-center " id="vendorproduct" style="margin-top: 2%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category </th>
      <th scope="col">Sub-Category</th>
      <th scope="col">Brand Name</th>
    </tr>
  </thead>
  <tbody>
    <% Category.forEach(function(c){ %>
      <% c.subcategory.forEach(function(s){ %>
      <% c.s.brand.forEach(function(b){ %>
      <tr>
        <th scope="row">1</th>
        <td><%=c.categoryname%></td>
        
        <td><%=s.subcategoryname%></td>
        <td><%=b.brand%></td>
        <%})%> 
        <%})%>   
      </tr>
      <% }); %>
      </tbody>
</table>

<script>      
      console.log("inside brand")


        
      $(document).ready(function(){
          
        $('#addbrand').click(function(e) {
          e.preventDefault();
          var brandname = ($('#brandname').val());
          
        $.ajax({
          type: "POST",
          url: '/vendor_products' ,
          contentType: "application/json",
          processData: false,
            data:  JSON.stringify(Category:product,brand:brand}),
            success: function(data) {
              console.log(data)
          }
      }).done(function (data) {
          console.log("OK");
          $('#vendorproduct tr:last').after('<tr><th scope="row">1</th><td>'+data.c1+'</td><td>'+data.s1+'</td><td>'+data.b1+'</td></tr>');   
          $('#categorylist option:last').after('<option class="container" value=' + data.c1 + '/>');
          $('#subcategorylist option:last').after('<option class="container" value=' + data.s1 + '/>');     
          // $('#addedbrand').html(data.brandname)
          // $('#addedbrandrow').removeAttr("style");

      }).fail(function ( jqXHR, textStatus, errorThrown ) {
          console.log(jqXHR);
          console.log(textStatus);
          console.log(errorThrown);
        });
      });

    </script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </body>
</html>